<% if logged_in? %>
	<div class="todays-attendance">
		<h1>Who's here?</h1>
		<% if @todays_students.empty? %>
			<p>No one's here yet.</p>
		<% else %>
			<% @todays_students.each do |class_member| %>
			<ul>
				<li><%= class_member.name %></li>
			</ul>
			<%end%>
		<%end%>

	</div>

<div class="past-classes">


</div>

<div class="clearfix clear">
	<div class="btn logout">
		<%= link_to "Logout", :controller=> "sessions", :action=> "destroy" %>
	</div>
</div>
<%else%>
	<p>Hello, thank you for visiting, you are not logged in.</p>
<%end%>