<% if logged_in? %>

<div class="add-student-box">
	<h1>Welcome to FEWD!</h1>
	<p>Please type your name in the box below for attendance.</p>
	<%= form_for @student do |f| %>
		<%#= hidden_field_tag :user_id, '8' %>
  		<%= f.text_field :name %>
  		<%= submit_tag("Submit", :class => "btn", data: { :disable_with => "Thank You!"}) %>
	<%end%>
</div>

<div class="clearfix clear">
	<div class="btn logout">
		<%= link_to "Logout", :controller=> "sessions", :action=> "destroy" %>
	</div>
</div>

<%else%>
	<p>Hello, thank you for visiting, you are not logged in.</p>
<%end%>